.scoreboardGrid{
-fx-background-image:url("Background.jpg");
-fx-background-size: cover;
}

.button {
-fx-background-color: #0097a7;
-fx-background-radius: 30;
-fx-min-width: 80;
-fx-min-height: 40;
-fx-text-size: 14px;
-fx-font-weight: bold;
-fx-font-family: ArialBlack;
}

.button:hover {
-fx-background-color: #00acc1;
-fx-background-radius: 30;
-fx-border-color: #0097a7;
-fx-border-radius: 35;
-fx-border-width: 3;
-fx-effect: dropshadow( gaussian , rgba(255,255,255,1) , 6,0,0,1 );
}

.button:pressed {
-fx-background-color: #0097a7;
-fx-background-radius: 30;
-fx-border-color: #0097a7;
-fx-border-radius: 35;
-fx-border-width: 3;
}

#titleScore {
-fx-text-fill: #e91e63;
-fx-font-weight: bold;
-fx-font-size: 60px;
-fx-font-family: ArialBlack;
}

.label {
-fx-text-fill: #e91e63;
-fx-font-weight: bold;
-fx-font-size: 14px;
}

#winnerName {
-fx-font-size: 25;
-fx-text-fill: #A5653F;
}

#winnerPoints {
-fx-font-size: 25;
-fx-text-fill: #A5653F;
}

#winnerPlace {
-fx-font-size: 25;
-fx-text-fill: #A5653F;
}

#secondName {
-fx-font-size: 20;
-fx-text-fill: #6D778B;
}

#secondPoints {
-fx-font-size: 20;
-fx-text-fill: #6D778B;
}

#secondPlace {
-fx-font-size: 20;
-fx-text-fill: #6D778B;
}

#thirdName {
-fx-font-size: 18;
-fx-text-fill: #BF6836;
}

#thirdPoints {
-fx-font-size: 18;
-fx-text-fill: #BF6836;
}

#thirdPlace {
-fx-font-size: 18;
-fx-text-fill: #BF6836;
}