.scoreboardGrid{
-fx-background-image:url("Background.jpg");
-fx-background-size: cover;
}

.button {
-fx-background-color: #0097a7;
-fx-background-radius: 30;
-fx-min-width: 80;
-fx-min-height: 40;
-fx-text-size: 14px;
-fx-font-weight: bold;
-fx-font-family: ArialBlack;
}

.button:hover {
-fx-background-color: #00acc1;
-fx-background-radius: 30;
-fx-border-color: #0097a7;
-fx-border-radius: 35;
-fx-border-width: 3;
-fx-effect: dropshadow( gaussian , rgba(255,255,255,1) , 6,0,0,1 );
}

.button:pressed {
-fx-background-color: #0097a7;
-fx-background-radius: 30;
-fx-border-color: #0097a7;
-fx-border-radius: 35;
-fx-border-width: 3;
}
/*Button layout explained in HomeStage.css*/

#titleScore {
-fx-text-fill: #e91e63;
-fx-font-weight: bold;
-fx-font-size: 60px;
-fx-font-family: ArialBlack;
}

.label {
-fx-text-fill: #e91e63;
-fx-font-weight: bold;
-fx-font-size: 16px;
}
/*every label except the first three winners are the same*/

#winnerName {
-fx-font-size: 28;
-fx-text-fill: #A5653F;
}

#winnerPoints {
-fx-font-size: 28;
-fx-text-fill: #A5653F;
}

#winnerPlace {
-fx-font-size: 28;
-fx-text-fill: #A5653F;
}
/*winner is the biggest label and has a golden colour*/

#secondName {
-fx-font-size: 24;
-fx-text-fill: #b2b9bc;
}

#secondPoints {
-fx-font-size: 24;
-fx-text-fill: #b2b9bc;
}

#secondPlace {
-fx-font-size: 24;
-fx-text-fill: #b2b9bc;
}

/*second place is the second biggest label and has a silver color*/

#thirdName {
-fx-font-size: 20;
-fx-text-fill: #bf8970;
}

#thirdPoints {
-fx-font-size: 20;
-fx-text-fill: #bf8970;
}

#thirdPlace {
-fx-font-size: 20;
-fx-text-fill: #bf8970;
}
/*third place is slightly bigger than everyone else, however has a bronze coloring*/