#logoLabel {
-fx-alignment: center;
-fx-font-size: 30;
-fx-text-fill: #e91e63;

-fx-text-shadow: 2px 2px #0097a7;
}
.root{
-fx-background-image:url("Background.quiz.jpg");
-fx-background-size: cover;
}
.button {
-fx-background-color: #0097a7;
-fx-background-radius: 30;
-fx-font-size: 16;
-fx-text-fill: #e91e63;
}

.button:hover {
-fx-background-color: #e91e63;
-fx-background-radius: 30;
-fx-font-size: 16;
-fx-text-fill: #0097a7;
-fx-border-color: #0097a7;
-fx-border-radius: 28;
-fx-border-vidth: 10;
}

.button:pressed {
-fx-background-color: #e91e63;
-fx-background-radius: 30;
-fx-font-size: 16;
-fx-text-fill: #0097a7;
-fx-border-color: #0097a7;
-fx-border-radius: 28;
-fx-border-vidth: 10;
}